<div class="page page-table-static clearfix">

	<ol class="breadcrumb breadcrumb-small">
		<li>供应商管理</li>
		<li class="active"><a href="#/supplierManage/search">查询</a></li>
	</ol>

	<div class="page-wrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-lined table-responsive mb30"  ng-controller="SupplierSearchCtrl">
					<div class="panel-body">
						<div class="small text-bold left mt5">
		                        Show&nbsp;
		                        <select data-ng-model="numPerPage"
		                                data-ng-options="num for num in numPerPageOpts"
		                                data-ng-change="onNumPerPageChange()">
		                        </select> 
		                        &nbsp;entries
		                </div>

		                <form class="form-horizontal right col-lg-4">
							<input type="text" class="form-control input-sm" placeholder="Type keyword" data-ng-model="searchKeywords" data-ng-keyup="search()">
		                </form>
					</div>
					<!-- data table -->
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									Rendering Engine
									<div class="th">
										<i class="fa fa-caret-up icon-up"
											ng-click=" order('engine') "
                              				ng-class="{active: row == 'engine'}"></i>
										<i class="fa fa-caret-down icon-down"
											ng-click=" order('-engine') "
                              				ng-class="{active: row == '-engine'}"></i>
									</div>
								</th>
								<th>
									Browser
									<div class="th">
										<i class="fa fa-caret-up icon-up"
											ng-click=" order('browser') "
                              				ng-class="{active: row == 'browser'}"></i>
										<i class="fa fa-caret-down icon-down"
											ng-click=" order('-browser') "
                              				ng-class="{active: row == '-browser'}"></i>
									</div>
								</th>
								<th>
									Platform(s)
									<div class="th">
										<i class="fa fa-caret-up icon-up"
											ng-click=" order('platform') "
                              				ng-class="{active: row == 'platform'}"></i>
										<i class="fa fa-caret-down icon-down"
											ng-click=" order('-platform') "
                              				ng-class="{active: row == '-platform'}"></i>
									</div>
								</th>
								<th>
									Engine Version
									<div class="th">
										<i class="fa fa-caret-up icon-up"
											ng-click=" order('version') "
                              				ng-class="{active: row == 'version'}"></i>
										<i class="fa fa-caret-down icon-down"
											ng-click=" order('-version') "
                              				ng-class="{active: row == '-version'}"></i>
									</div>
								</th>
								<th>
									CSS Grade
									<div class="th">
										<i class="fa fa-caret-up icon-up"
											ng-click=" order('grade') "
                              				ng-class="{active: row == 'grade'}"></i>
										<i class="fa fa-caret-down icon-down"
											ng-click=" order('-grade') "
                              				ng-class="{active: row == '-grade'}"></i>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in currentPageStores track by $index">
								<td>{{data.engine}}</td>
								<td>{{data.browser}}</td>
								<td>{{data.platform}}</td>
								<td>{{data.version}}</td>
								<td>{{data.grade}}</td>
							</tr>
						</tbody>
					</table>
					<!-- #end data table -->	

					<div class="panel-footer clearfix">
						<p class="left mt15 small">
							Showing {{currentPageStores.length*(currentPage - 1) + 1}} to {{currentPageStores.length*currentPage}} of {{datas.length}} entries
						</p>
						<pagination boundary-links="true" total-items="filteredData.length" ng-model="currentPage" class="pagination-sm right" 
							max-size="5" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false"
							previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
					</div>
				</div>
			</div>
		</div>
		<!-- #end row -->
	</div>
	<!-- #end page-wrap -->

</div>


<script>
! function() {
    "use strict";
    angular.module("app.ui.table.ctrls", []).controller("SupplierSearchCtrl", ["$scope", "$filter", function($scope, $filter) {
        $scope.datas = [{
            engine: "Gecko",
            browser: "Firefox 3.0",
            platform: "Win 98+/OSX.2+",
            version: 1.7,
            grade: "A"
        }, {
            engine: "Gecko",
            browser: "Firefox 5.0",
            platform: "Win 98+/OSX.2+",
            version: 1.8,
            grade: "A"
        }, {
            engine: "KHTML",
            browser: "Konqureror 3.5",
            platform: "KDE 3.5",
            version: 3.5,
            grade: "A"
        }, {
            engine: "Presto",
            browser: "Opera 8.0",
            platform: "Win 95+/OS.2+",
            version: "-",
            grade: "A"
        }, {
            engine: "Misc",
            browser: "IE Mobile",
            platform: "Windows Mobile 6",
            version: "-",
            grade: "C"
        }, {
            engine: "Trident",
            browser: "IE 5.5",
            platform: "Win 95+",
            version: 5,
            grade: "A"
        }, {
            engine: "Trident",
            browser: "IE 6",
            platform: "Win 98+",
            version: 7,
            grade: "A"
        }, {
            engine: "Webkit",
            browser: "Safari 3.0",
            platform: "OSX.4+",
            version: 419.3,
            grade: "A"
        }, {
            engine: "Webkit",
            browser: "iPod Touch / iPhone",
            platform: "OSX.4+",
            version: 420,
            grade: "B"
        }];
        for (var prelength = $scope.datas.length, i = prelength; 100 > i; i++) {
            var rand = Math.floor(Math.random() * prelength);
            $scope.datas.push($scope.datas[rand])
        }
        $scope.searchKeywords = "", $scope.filteredData = [], $scope.row = "", $scope.numPerPageOpts = [5, 7, 10, 25, 50, 100], $scope.numPerPage = $scope.numPerPageOpts[1], $scope.currentPage = 1, $scope.currentPageStores = [], $scope.select = function(page) {
            var start = (page - 1) * $scope.numPerPage,
                end = start + $scope.numPerPage;
            $scope.currentPageStores = $scope.filteredData.slice(start, end)
        }, $scope.onFilterChange = function() {
            $scope.select(1), $scope.currentPage = 1, $scope.row = ""
        }, $scope.onNumPerPageChange = function() {
            $scope.select(1), $scope.currentPage = 1
        }, $scope.onOrderChange = function() {
            $scope.select(1), $scope.currentPage = 1
        }, $scope.search = function() {
            $scope.filteredData = $filter("filter")($scope.datas, $scope.searchKeywords), $scope.onFilterChange()
        }, $scope.order = function(rowName) {
            $scope.row != rowName && ($scope.row = rowName, $scope.filteredData = $filter("orderBy")($scope.datas, rowName), $scope.onOrderChange())
        }, $scope.search(), $scope.select($scope.currentPage)
    }])
}();

</script>